.NavigationBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    font-size: min(3vw, 2vh);

    svg {
        height: 100%;
    }

    .NavigationLinks {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 70%;
        translate: -50% 0;
        height: 100%;

        span {
            position: absolute;

            color: gray;

            text-align: end;
            font-family: "Montserrat", Arial, Helvetica, sans-serif;

            translate: -50% -50%;

            white-space: nowrap;
            pointer-events: all;
            cursor: pointer;

            transition: color .5s;

            &.active {
                color: white;
            }
        }
    }
}

@media (max-width: 600px) {
    .NavigationBar {
        right: 1vw;
    }
}